

.content {
    height: calc(100vh - 100px);

    button{
        margin-top: 10%;
    }
}

.profile-span {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    div{
        cursor: pointer;
    }
}

.profile-img {
    object-fit: contain;
    border-radius: 50%;
    border: 3px solid white;
    width: 50px;
    height: 50px;
}

.video-div{
  margin-top: 7%;
  padding-left: 24px;

  div{
    border-radius: 10px;
    padding: 24px 0px;


  video{
    border-radius: 10px;



    border-radius: 40px;
    width: 370px;
    height: 210px;
    object-fit: cover;
    transition: transform ease-in-out .2s;
    box-shadow: 10px 10px 7px 0px rgb(0, 0,0, 0.5);

    &:hover{
      transform: scale(1.1);
      cursor: pointer;

    }
  }
  }
}
