
.content {
  padding-left: 24px;
  margin-top: 120px;
  height: calc(100vh - 220px);
}

.video-div {
  display: flex;
  gap: 24px;

  div {
    border-radius: 10px;
    padding: 24px 0px;


    video {
      border-radius: 10px;
      border-radius: 40px;
      width: 370px;
      height: 210px;
      object-fit: cover;
      transition: transform ease-in-out .2s;
      box-shadow: 10px 10px 7px 0px rgb(0, 0, 0, 0.15);

      &:hover {
        transform: scale(1.1);
        cursor: pointer;

      }
    }
  }
}
