.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.form-container {
  min-height: 30%;
  min-width: 45%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 10px 10px 7px 0px rgb(0, 0, 0, 0.15);

  h2,
  h4 {
    padding: 8px 24px;
  }

  form {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: column;

    div {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 8px;

      span {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 8px;
      }
    }

    input{
      padding: 8px;
      width: 95%;
      border-radius: 10px;
      border-color: gray;
      border-style: solid;
      border-width: 1px;
      transition: border-color ease-in-out 0.2s, color ease-in-out 0.2s;

      &:hover {
        border-color: #38b4ff;
      }

      &:hover::placeholder {
        color: #38b4ff;
      }
    }

    button {
      padding: 8px;
      background-color: white;
      border-color: gray;
      border-style: solid;
      border-width: 1px;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s,
        color ease-in-out 0.2s;

      &:hover {
        color: white;
        background-color: #38b4ff;
        box-shadow: 0 0 0.5px #2b2fd1, 0 0 1px #2b2fd1, 0 0 1.5px #2b2fd1,
          0 0 2px #2b2fd1, 0 0 4px #2b2fd1;
      }
    }
  }
}

.file-input{
 border-style: none!important;
 cursor: pointer;
}
