.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 140px);
    background-color: #ECEEFE;;
}

.headline {
    height: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    font-weight: 800;
    background-color: black;
    color: #38b4ff;
        text-shadow:
            0 0 7px #383bff,
            0 0 10px #2b2fd1,
            0 0 21px #2b2fd1,
            0 0 42px #2b2fd1,
            0 0 82px #2b2fd1,
            0 0 92px #2b2fd1;
    span {
        padding: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

    img{
        width: 60px;
        height: 60px;
    }
    }
}

.data-protection {
    padding: 32px;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 8px;
    font-size: 18px;
    gap: 24px;

    h1,h2,h3{
        padding: 16px 0px;
    }
}

.arrow {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;

    &:hover {
        filter: invert(54%) sepia(48%) saturate(4557%) hue-rotate(215deg) brightness(102%) contrast(91%);
        transform: scale(1.2);
    }
}

