<app-header-menu></app-header-menu>
<div class="container">

  <div class="form-container">
    <h2>Fehler gefunden oder wollen Sie Kontakt mit mir aufnehmen?</h2>
    <h4>Senden Sie mir eine E-Mail über dieses Formular:</h4>
  <form (submit)="sendMail()">
    <input type="text" placeholder="E-Mail Adresse">
    <input type="text" placeholder="Name">
    <input type="text" placeholder="Titel">
    <textarea name="" id="" cols="30" rows="10" placeholder="Nachricht..."></textarea>
    <button>Senden</button>
  </form>
</div>
</div>
<app-footer></app-footer>
