<div class="headline">
        <span><img src="./assets/img/logo.png" alt="logo">
            <p>Videoflix</p>
            <img src="/assets/img/signup/arrow_back.png" alt="" (click)="goToLoginPage()">
        </span>
    </div>
<div class="container">
    <div class="content">
        <div class="headline-content">
            <h1>Impressum</h1>
            <img src="/assets/img/signup/arrow_back.png" alt=""
            class="arrow" (click)=" goToLoginPage()">
        </div>
        <div>
            <p style="padding-bottom: 8px;">Angaben gemäß § 5 TMG</p>
            <p>Walter Doni</p>
            <p>Hermelinweg 79</p>
            <p>1220 Wien</p>
            <h3>Vertreten durch:</h3>
            <p>Walter Doni</p>
        </div>
        <div>
            <h2>Kontakt:</h2>
            <p>Telefon: +43660/773 7 462</p>
            <p>mail&#64;walter-doni.at</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
