<div class="video-container">
  <video autoplay loop muted class="video-background">
    <source src="/assets/video/login/background.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<div class="container">
  <div class="headline-box">
    <img src="./assets/img/logo.png" alt="">
    <h1>VIDEOFLIX</h1>
  </div>

  <div class="login-container">
    <div class="headline-content">
      <h1>Registrierung</h1>
      <img src="/assets/img/signup/arrow_back.png" alt="" (click)="goToLoginPage()">
    </div>
    <form (ngSubmit)="checkPasswordAndCreateNewUser()" #signupForm="ngForm">
      <input type="text" placeholder="Benutzername" [(ngModel)]="username" name="username" required>
      <input type="text" placeholder="E-mail" [(ngModel)]="email" name="email" required>
      <input type="password" placeholder="Passwort" [(ngModel)]="password" name="password" autocomplete="current-password" required>
      <input type="password" placeholder="Passwort wiederholen" [(ngModel)]="checkPassword" name="checkPassword" required>
      <div class="form-btn-container">
        <button type="submit" [disabled]="signupForm.form.invalid">Anmelden</button>
      </div>
    </form>
  </div>
</div>
