.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.form-container {
  min-height: 30%;
  min-width: 45%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 10px 10px 7px 0px rgb(0, 0, 0, 0.15);

  @media(max-width:900px) {
    width: 90%;
    min-width: unset;

    h2 {
      font-size: 20px;
      padding: 8px 24px;
    }
  }

  @media(max-width:750px) {

    div {
      display: unset !important;
    }
  }

  @media(max-width:490px) {
    h2 {
      font-size: 18px;
      padding: 6px 24px;
    }
  }

  h2 {
    padding: 8px 24px;
  }

  form {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: column;

    div {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 8px;

      span {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 8px;
      }
    }

    input,
    textarea {
      padding: 8px;
      width: 95%;
      border-radius: 10px;
      border-color: gray;
      border-style: solid;
      border-width: 1px;
      transition: border-color ease-in-out 0.2s, color ease-in-out 0.2s;

      &:hover {
        border-color: #38b4ff;
      }

      &:hover::placeholder {
        color: #38b4ff;
      }
    }

    button {
      padding: 8px;
      background-color: white;
      border: 1px solid gray;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.2s;

      &:hover {
        color: white;
        background-color: #38b4ff;
        box-shadow: 0 0 0.5px #2b2fd1, 0 0 1px #2b2fd1, 0 0 1.5px #2b2fd1, 0 0 2px #2b2fd1, 0 0 4px #2b2fd1;
      }

      &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
      }

      &[disabled]:hover {
        background-color: inherit;
        color: inherit;
        box-shadow: none;
      }
    }
  }
}

.file-input {
  border-style: none !important;
  cursor: pointer;
}

.upload {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  animation: showDiv 2s linear;

  div {
    background-color: #38b4ff;
    color: white;
    text-shadow: 0 0 0.5px #2b2fd1, 0 0 1px #2b2fd1, 0 0 1.5px #2b2fd1, 0 0 2px #2b2fd1, 0 0 4px #2b2fd1;
    box-shadow: 0 0 0.5px #2b2fd1, 0 0 1px #2b2fd1, 0 0 1.5px #2b2fd1, 0 0 2px #2b2fd1, 0 0 4px #2b2fd1;
    width: 20%;
    height: 10%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    animation: rotate 2s linear;
  }
}

@keyframes rotate {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }


}

@keyframes showDiv {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }

}


.uploadSuccess {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #38b4ff;
  text-shadow: 0 0 0.5px #2b2fd1, 0 0 1px #2b2fd1, 0 0 1.5px #2b2fd1,
    0 0 2px #2b2fd1, 0 0 4px #2b2fd1;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;


  @media(max-width: 915px) {
    p {
      width: 90%;
    }
  }
}

.uploadSuccess.show {
  opacity: 1;
  pointer-events: auto
}
