body {
    min-height: 100vh;
    background-color: #011A27;
  }
  
  .headline-box {
    position: absolute;
    top: 20%;
    animation: loadInAnimation 2s ease-in forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    z-index: 2;
  
    h1 {
      font-size: 64px;
      font-weight: bold;
      color: #38b4ff;
      text-shadow:
        0 0 7px #383bff,
        0 0 10px #2b2fd1,
        0 0 21px #2b2fd1,
        0 0 42px #2b2fd1,
        0 0 82px #2b2fd1,
        0 0 92px #ffffff;
      z-index: 2;
  
      @media(max-width:510px) {
        font-size: 32px;
      }
    }
  
    img {
      width: 60px;
      height: 60px;
    }
  
  }
  
  .container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .headline-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    img {
  
      padding-left: 24px;
      height: 24px;
      cursor: pointer;
      filter: invert(96%) sepia(30%) saturate(85%) hue-rotate(8deg) brightness(104%) contrast(104%);
  
      &:hover {
        filter: invert(54%) sepia(48%) saturate(4557%) hue-rotate(215deg) brightness(102%) contrast(91%);
        transform: scale(1.2);
      }
    }
  }
  
  .video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
  }
  
  .video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .login-container {
    position: absolute;
    top: 40%;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    width: 510px;
    height: 400px;
    animation: loadInAnimation 1.8s ease-in forwards;
    color: white;
  
    @media(max-width:510px) {
      width: 300px;
      top: 30%;
    }
  
  
    h1 {
      padding: 10px;
      color: white;
  
      @media(max-width:510px) {
        padding: 5px;
        font-size: 28px;
      }
  
    }
  
    form {
      padding: 0px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 95%;
  
      input {
        padding: 10px 45px;
        border-radius: 10px;
        border-color: black;
        font-size: 16px;
        background-repeat: no-repeat;
        background-position: 4%;
  
        @media(max-width:510px){
          font-size: 14px;
        }
  
        &:nth-child(1) {
          background-image: url('/assets/img/login/person_filled.png');
        }
  
        &:nth-child(2) {
          background-image: url('/assets/img/login/mail.png');
        }
  
        &:nth-child(3) {
          background-image: url('/assets/img/login/lock.png');
        }
  
        &:nth-child(4) {
          background-image: url('/assets/img/login/lock.png');
        }
      }
  
      button {
        padding: 8px 10px;
        border-radius: 10px;
        border-color: black;
        color: black;
        cursor: pointer;
        transition: background-color ease-in-out .2s, color ease-in-out .2s, box-shadow ease-in-out .2s;
        width: 70%;
  
        &:not(:disabled):hover {
          color: white;
          background-color: #38b4ff;
          box-shadow:
            0 0 7px #383bff,
            0 0 10px #2b2fd1,
            0 0 21px #2b2fd1;
        }
  
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
  
    }
  }
  
  .form-btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
  
  .pwResetEmailSendSuccess {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #38b4ff;
    text-shadow: 0 0 0.5px #2b2fd1, 0 0 1px #2b2fd1, 0 0 1.5px #2b2fd1,
      0 0 2px #2b2fd1, 0 0 4px #2b2fd1;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  
  
    @media(max-width: 915px) {
      p {
        width: 90%;
      }
    }
  }
  
  .pwResetEmailSendSuccess.show {
    opacity: 1;
    pointer-events: auto
  }
  