<div class="video-container">
    <video autoplay loop muted class="video-background">
      <source src="/assets/video/login/background.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="container">
    <div class="headline-box">
      <img src="./assets/img/logo.png" alt="">
      <h1>VIDEOFLIX</h1>
    </div>
  
    <div class="login-container">
      <div class="headline-content">
        <h1>Passwort zurücksetzen</h1>
        <img src="/assets/img/signup/arrow_back.png" alt="" (click)="goToLoginPage()">
      </div>
      <form (ngSubmit)="sendPasswordResetEmail()" #resetEmail="ngForm">
        <input type="text" placeholder="E-Mail" [(ngModel)]="email" name="email" required>
        <div class="form-btn-container">
            <button type="submit" [disabled]="resetEmail.form.invalid">E-Mail senden</button>
        </div>
      </form>
  
  
    </div>
    <div class="signUpSuccess" #signUpSuccess>Eine Verifizierungsmail wurde an die angegebene Adresse gesendet.</div>
  </div>
  