.headline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 800;
  background-color: black;
  color: #38b4ff;
  box-shadow: 0px 0px 10px 10px rgb(0, 0, 0, 0.5);
  z-index: 1;
  text-shadow:
    0 0 7px #383bff,
    0 0 10px #2b2fd1,
    0 0 21px #2b2fd1,
    0 0 42px #2b2fd1,
    0 0 82px #2b2fd1,
    0 0 92px #2b2fd1;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.headline span {
  padding: 0px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 40px;
  height: 40px;
}

.navigation-span {
  color: white;
  text-shadow: none;
  cursor: pointer;

  p {
    font-size: 18px !important;
    color: white;
    text-shadow: none;
    font-size: 24px;
    transition: color ease-in-out .2s, text-shadow ease-in-out .2s;

    &:hover {
      color: #38b4ff;
      text-shadow:
        0 0 7px #383bff,
        0 0 10px #2b2fd1,
        0 0 21px #2b2fd1,
        0 0 42px #2b2fd1,
        0 0 82px #2b2fd1,
        0 0 92px #2b2fd1;
    }
  }
}

.profile-img {
  object-fit: contain;
  border-radius: 50%;
  border: 3px solid white;
  width: 50px;
  height: 50px;
}

.arrow-down {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%);
  width: 30px;
  height: 30px;
}

.d-none {
  display: none !important;

}

@media (max-width: 1175px) {

  .navigation-span{
    display: none!important;
  }

  .hide-name{
    display: none!important;
  }
  
}


//--Burger-Btn--//

.burger-btn {
  display: none!important;
  top: 50px;
  right: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50px;
  cursor: pointer;

  @media (max-width: 1175px){
      display: unset!important;
  }

  @media (max-width: 600px){
      width: 35px;
  }
}

.burger-btn:before,
.burger-btn:after,
.burger-btn div {
  background: #38b4ff;
  box-shadow:
  0 0 7px #383bff,
  0 0 10px #2b2fd1,
  0 0 21px #2b2fd1,
  0 0 42px #2b2fd1,
  0 0 82px #2b2fd1,
  0 0 92px #2b2fd1;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;

  @media (max-width: 600px){
      height: 4px;
  }
}

.burger-btn.clicked:before {
  transform: translateY(12px) rotate(135deg);
  background: #38b4ff;
  box-shadow:
  0 0 7px #383bff,
  0 0 10px #2b2fd1,
  0 0 21px #2b2fd1,
  0 0 42px #2b2fd1,
  0 0 82px #2b2fd1,
  0 0 92px #2b2fd1;
}

.burger-btn.clicked:after {
  transform: translateY(-12px) rotate(-135deg);
  background: #38b4ff;
  box-shadow:
  0 0 7px #383bff,
  0 0 10px #2b2fd1,
  0 0 21px #2b2fd1,
  0 0 42px #2b2fd1,
  0 0 82px #2b2fd1,
  0 0 92px #2b2fd1;
}

.burger-btn.clicked div {
  transform: scale(0);
}


.resp-menu-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 100%;
  right: 0;
  height: 100vh;
  z-index: -1;
  width: 100%;
  transition: left 0.5s ease;

  :active {
      left: 0;
  }

  a {
      cursor: pointer;
      font-size: 23px;
      text-decoration: none;
      color: white;
      padding-bottom: 20px;

      &:hover{
          color:#00BEE8;
      }
  }

  @media(max-width: 1320px){
      display: flex;
  }

}

.active-menu {
  left: 0;
}