.headline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 800;
  background-color: black;
  color: #38b4ff;
  box-shadow: 0px 0px 10px 10px rgb(0, 0, 0, 0.5);
  z-index: 1;
  text-shadow:
    0 0 7px #383bff,
    0 0 10px #2b2fd1,
    0 0 21px #2b2fd1,
    0 0 42px #2b2fd1,
    0 0 82px #2b2fd1,
    0 0 92px #2b2fd1;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.headline span {
  padding: 0px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 40px;
  height: 40px;
}

.navigation-span {
  color: white;
  text-shadow: none;
  cursor: pointer;

  p {
    font-size: 18px !important;
    color: white;
    text-shadow: none;
    font-size: 24px;
    transition: color ease-in-out .2s, text-shadow ease-in-out .2s;

    &:hover {
      color: #38b4ff;
      text-shadow:
        0 0 7px #383bff,
        0 0 10px #2b2fd1,
        0 0 21px #2b2fd1,
        0 0 42px #2b2fd1,
        0 0 82px #2b2fd1,
        0 0 92px #2b2fd1;
    }
  }
}

.profile-img {
  object-fit: contain;
  border-radius: 50%;
  border: 3px solid white;
  width: 50px;
  height: 50px;
}

.arrow-down {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%);
  width: 30px;
  height: 30px;
}

.d-none {
  display: none !important;

}

.update-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.update-content-container {
  width: 40%;
  height: 25%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

}

.input-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap:8px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
