<div class="headline">
  <div>
    <span>
      <img src="./assets/img/logo.png" alt="logo" class="logo">
      <p>Videoflix</p>
    </span>
    <span class="navigation-span">
      <p (click)="showBrowse()">Startseite</p>
      <p (click)="navigateToSeries()">Serien</p>
      <p (click)="navigateToMovie()">Filme</p>
      <p (click)="navigateToDocumentation()">Dokumentationen</p>
      <p (click)="navigateToUpload()">Upload</p>
    </span>
  </div>
  <span>
    <div class="searchfield">
      <input type="text" placeholder="Titel...">
      <img src="./assets/img/header/search.png" alt="search" class="search">
    </div>
    <div>
      <img src="./assets/img/blank-profile.png" alt="image" class="profile-img">
      <img src="./assets/img/header/keyboard_arrow_down.png" alt="arrow-down" class="arrow-down" (click)="toggleDropdown()">
      <div class="d-none" #dropdown><app-dropdown></app-dropdown></div>
    </div>
  </span>
</div>

