<div class="headline">
  <div>
    <span class="responsive-nocolumn">
      <img src="./assets/img/logo.png" alt="logo" class="logo">
      <p>Videoflix</p>
    </span>
    <span class="navigation-span">
      <p (click)="showBrowse()">Startseite</p>
      <p (click)="navigateToSeries()">Serien</p>
      <p (click)="navigateToMovie()">Filme</p>
      <p (click)="navigateToDocumentation()">Dokumentationen</p>
    </span>
  </div>

  <div class="burger-btn" (click)="showMenu()" [class.clicked]="burgermenu">
    <div></div>
  </div>
  <div class="resp-menu-container" [class.active-menu]="burgermenu">
    <p (click)="showBrowse()">Startseite</p>
    <p (click)="navigateToSeries()">Serien</p>
    <p (click)="navigateToMovie()">Filme</p>
    <p (click)="navigateToDocumentation()">Dokumentationen</p>
  </div>

  <span>
    <div>
      <p class="hide-name"(click)="toggleDropdown()">{{username}}</p>
      <div class="d-none" #dropdown><app-dropdown></app-dropdown></div>
    </div>

  </span>
</div>




