<div class="headline">
  <div>
    <span>
      <img src="./assets/img/logo.png" alt="logo" class="logo">
      <p>Videoflix</p>
    </span>
    <span class="navigation-span">
      <p (click)="showBrowse()">Startseite</p>
      <p (click)="navigateToSeries()">Serien</p>
      <p (click)="navigateToMovie()">Filme</p>
      <p (click)="navigateToDocumentation()">Dokumentationen</p>
      <p (click)="navigateToUpload()">Upload</p>
    </span>
  </div>
  <span>

    <div>
      <p (click)="toggleDropdown()">{{username}}</p>
      <div class="d-none" #dropdown><app-dropdown></app-dropdown></div>
    </div>

  </span>
</div>

<div class="update-container">
  <div class="update-content-container">
    <h2>Ändere deine Nutzerdaten</h2>
    <div class="input-container">
      <input type="text" [(ngModel)]="username" name="Benutzername" value={{username}}>
      <input type="text" [(ngModel)]="email" name="Email" value={{email}}>
    </div>
    <div class="btn-container">
      <button>Speichern</button>
      <button>Verwerfen</button>
    </div>
  </div>
</div>
