* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ECEEFE;
}



body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
body::-webkit-scrollbar-track {
    background: #ECEEFE;
    border-radius: 10px;
  }
  
body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

@keyframes loadInAnimation {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-250px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateY(-65px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateY(-28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateY(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
}
